@model LoginDTO
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutSingin.cshtml";

}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible text-white">
        @TempData["SuccessMessage"]
    </div>
}
<form role="form" class="text-start" asp-action="Login" method="post">
    <div class="input-group input-group-outline my-3">
        <label class="form-label" asp-for="EmailOrUsername"></label>
        <input type="text" asp-for="EmailOrUsername" class="form-control">
    </div>
    <span class="text-danger" asp-validation-for="EmailOrUsername"></span><br />
    <div class="input-group input-group-outline mb-3">
        <label class="form-label" asp-for="Password"></label>
        <input type="password" asp-for="Password" class="form-control">
    </div>
    <span class="text-danger" asp-validation-for="Password"></span><br />
    <div class="form-check form-switch d-flex align-items-center mb-3">
        <input class="form-check-input" type="checkbox" asp-for="RememberMe" id="rememberMe">
        <label class="form-check-label mb-0 ms-2" asp-for="RememberMe"></label>
    </div>
    <div class="text-center">
        <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">Sign in</button>
    </div>
</form>


              
